Source: queex-ui
Maintainer: Ivan Panchenko <wao@mail.ru>
Section: httpd
Priority: optional
Standards-Version: 3.9.6.0
Build-Depends: wget, perl, libfile-slurp-perl

Package: queex-ui
Architecture: all
Description: JS thick client toolkit based on JQuery, Underscore, Bootstrap etc.
